doctype html
html(ng-app="app")
head
  meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='author', content='Big Component Labs')
  meta(name='description', content='BarChat prototype')
  meta(property='og:title', content='BarChat')
  meta(property='og:site_name', content='BarChat')
  meta(property='og:url', content='http://www.barchat.com')
  meta(property='fb:app_id', content='861199300667486')
  title= title
  // STYLES
  link(rel="stylesheet", href="/styles/importer.css")
  link(rel="stylesheet", href="/bower_components/bootstrap/less/bootstrap.css")
  link(rel="stylesheet", href="/bower_components/ng-tags-input/ng-tags-input.bootstrap.min.css")
  // STYLES END
body
  div hello world
// SCRIPTS
script(src="/js/dependencies/sails.io.js")
script(src="/bower_components/jquery/dist/jquery.js")
script(src="/bower_components/angular/angular.js")
script(src="/bower_components/angular-route/angular-route.js")
script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
script(src="/bower_components/angular-bootstrap/ui-bootstrap.min.js")
script(src="/bower_components/bootstrap/dist/js/bootstrap.js")
script(src="/bower_components/angular-sails/dist/angular-sails.js")
script(src="/bower_components/underscore/underscore-min.js")
script(src="/bower_components/angularjs-geolocation/dist/angularjs-geolocation.min.js")
script(src="/bower_components/angular-ui-router/release/angular-ui-router.min.js")
script(src="/bower_components/angular-deckgrid/angular-deckgrid.js")
script(src="/bower_components/angular-flash/dist/angular-flash.min.js")
script(src="/bower_components/underscore.string/dist/underscore.string.min.js")
script(src="/bower_components/ng-tags-input/ng-tags-input.min.js")
script(src="/bower_components/angular-adaptive-detection/angular-adaptive-detection.min.js")
script(src="/bower_components/fastclick/lib/fastclick.js")
script(src="/bower_components/ngFacebook/version/v0.0.7/ngFacebook.min.js")
script(src="/app.js")
script(src="/services/storageService.js")
script(src="/controllers/helloWorldCtrl.js")
// SCRIPTS END
